body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: 'Arial', sans-serif;
}

.clock {
    font-size: 50px;
    padding: 20px;
    border: 2.5px solid #61dafb;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: spin 10s linear infinite;
    animation-delay: 5s;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000px;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -ms-grab;
    cursor: grab;
    user-select: all;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}